@import url("../../../../styles/fonts.css");
@import "../../../../styles/ann.scss";
@import "../../../../styles/loader.scss";
@import "../../../../styles/footer.scss";
@import "../../../../styles/header.scss";
@import "../../../../styles/pages.main.scss";
@import "../../otherBlogs.scss";
@import "../../../../styles/variables.scss";

body {
  margin: 0 auto;
  font-family: var(--fontFam);
  color: var(--FontColor);
  background-color: var(--BGColor);
  transition: background-color 0.3s ease-in-out;
}
.invert__this {
  filter: var(--InvertImg);
}
.if__active {
  transition: 0.1111s ease-in-out;

  &:active {
    transform: scale(1.1);
  }
}

img {
  width: 100%;
  object-fit: cover;
  height: 100%;
}

.ctx__flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

button {
  cursor: pointer;
  outline: none;
}

::selection {
  background-color: #d6894f;
}

.main {
  margin-top: calc(var(--headerHeight));
  .top10 {
    margin-top: 80px;
    .res {
      .ppt {
        display: flex;
        justify-content: start;
        align-items: center;
        .counter {
          margin-right: 8px;
          background-color: var(--primary_global);
          color: white;
          box-shadow: 1px 0px 20px rgba(95, 93, 93, 0.6);
          border-radius: 50%;
          padding: 6px;
          width: 50px;
          height: 50px;
          display: grid;
          place-items: center;
          margin-bottom: 8px;
        }
        .es {
          h4 {
            font-size: 24px;
          }
        }
      }
      .image {
        height: 280px;
        overflow: hidden;
        margin: 18px 0px 18px 0px;
        border-radius: 6px;
      }
    }
    .desc {
      p {
        font-size: 21px;
        line-height: 25px;
        color: var(--shaded);
      }
    }
  }
}
