@import "../../../styles/variables.scss";
@import url("../../../styles/fonts.css");
@import "../../../styles/ann.scss";
@import "../../../styles/loader.scss";
@import "../../../styles/footer.scss";
@import "../../../styles/header.scss";
@import "../../../styles/pages.main.scss";
@import "../WM.scss";
body {
  margin: 0 auto;
  font-family: var(--fontFam);
  color: var(--FontColor);
  background-color: var(--BGColor);
  transition: background-color 0.3s ease-in-out;
}
.invert__this {
  filter: var(--InvertImg);
}
.if__active {
  transition: 0.1111s ease-in-out;

  &:active {
    transform: scale(1.1);
  }
}

img {
  width: 100%;
}

.ctx__flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

button {
  cursor: pointer;
  outline: none;
}

.section {
  margin-top: 1rem;

  .section__header h3 {
    margin-top: 3rem;
    margin-bottom: 3rem;
    font-size: 2rem;
    text-transform: capitalize;
    text-align: center;
  }
}
// .form_wrapper {
//   margin: var(--defaultMargin);
//   .form {
//     form {
//       .input {
//         label {
//           font-size: 17px;
//           color: var(--shaded);
//         }
//         input,
//         textarea,
//         select {
//           width: 100%;
//           font-size: 19px;
//           padding: 8px;
//           background-color: var(--inputColor);
//           font-family: JSan;
//           border: none;
//           color: var(--shaded);
//           outline: none;
//           border-radius: 5px;
//           resize: none;
//           margin: 15px auto;
//         }
//         .select {
//           .option {
//           }
//         }
//         textarea {
//         }

//         button {
//           padding: 12px;
//           font-size: 21px;
//           text-transform: capitalize;
//           text-align: center;

//           background-color: var(--primary_global);
//           color: white;
//           border-radius: 5px;
//           border: none;
//           box-shadow: 1px 0px 20px rgba(114, 92, 92, 0.6);
//         }
//       }
//     }
//   }
// }
