@import url("../../../../styles/fonts.css");
@import "../../../../styles/ann.scss";
@import "../../../../styles/loader.scss";
@import "../../../../styles/footer.scss";
@import "../../../../styles/header.scss";
@import "../../../../styles/pages.main.scss";
@import "../../otherBlogs.scss";
@import "../../../../styles/variables.scss";

body {
  margin: 0 auto;
  font-family: var(--fontFam);
  color: var(--FontColor);
  background-color: var(--BGColor);
  transition: background-color 0.3s ease-in-out;
}
.invert__this {
  filter: var(--InvertImg);
}
.if__active {
  transition: 0.1111s ease-in-out;

  &:active {
    transform: scale(1.1);
  }
}

img {
  width: 100%;
  object-fit: cover;
  height: 100%;
}

.ctx__flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

button {
  cursor: pointer;
  outline: none;
}

::selection {
  background-color: #d6894f;
}

.main {
  margin-top: calc(var(--headerHeight));
}
