@import url("../../styles/fonts.css");
@import "../../styles/ann.scss";
@import "../../styles/loader.scss";
@import "../../styles/footer.scss";
@import "../../styles/header.scss";
@import "../../styles/pages.main.scss";
@import "../../styles/variables.scss";

body {
  margin: 0 auto;
  font-family: var(--fontFam);
  color: var(--FontColor);
  background-color: var(--BGColor);
  transition: background-color 0.3s ease-in-out;
}
.invert__this {
  filter: var(--InvertImg);
}
.if__active {
  transition: 0.1111s ease-in-out;

  &:active {
    transform: scale(1.1);
  }
}

img {
  width: 100%;
}

.ctx__flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

button {
  cursor: pointer;
  outline: none;
}

::selection {
  background-color: #d6894f;
}

.section {
  margin-top: 1rem;

  .section__header h3 {
    margin-top: 3rem;
    margin-bottom: 3rem;
    font-size: 2rem;
    text-transform: capitalize;
    text-align: center;
  }
}

.main {
  .blogs {
    &__container {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      .wrapper {
        margin: 0px var(--defaultMargin);
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(21rem, 1fr));
        .blog {
          border-radius: 8px;
          display: grid;
          grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));
          padding: 14px;
          box-shadow: 1px 1px 20px 0px #8685c46c;
          margin: 4px;
          position: relative;

          .img {
            height: 14rem;
            overflow: hidden;
            img {
              height: 100%;
              object-fit: cover;
            }
          }
          .content {
            position: relative;
            padding: 12px;
            h3 {
              text-transform: capitalize;
              font-size: 26px;
              color: rgb(238, 116, 71);
            }
            p {
              margin-top: 8px;
              font-size: 21px;
              color: var(--shaded);
            }
            button {
              border: none;
              outline: none;
              text-transform: capitalize;
              padding: 9px 23px;
              //  position: absolute;
              //  bottom: 0%;
              background-color: tomato;
              border-radius: 8px;
              margin-top: 16px;
              font-size: 20px;
              color: #f5f3f3;
            }
          }
        }
      }
      .btn__All {
        .btn__ {
          padding: 14px;
          font-size: 22px;
          text-transform: capitalize;
          background-color: #ee7447;
          border: 3px solid #ece6e6;
          border-radius: 5px;
          margin-top: 24px;
          color: #f5ebe8;
          box-shadow: -1px 1px 7px 3px #2d3f583d;
        }
      }
    }
  }
}
