.bloggy__container {
  display: grid;
  place-items: center;
  @media screen and (min-width: 780px) {
    .bloggy {
      margin: 0 auto;
      width: 70%;
      padding: 24px;
    }
  }
  .bloggy {
    margin: var(--defaultMargin);
    .blog__header {
      h3 {
        text-transform: capitalize;
        font-size: 26px;
        display: inline-block;
        position: relative;
        &::before {
          position: absolute;
          content: "";
          background-color: var(--lightShade);
          opacity: 0.2;
          width: 100%;
          bottom: -20%;
          height: 2px;
        }
      }
      p {
        color: var(--lightShade);
        font-size: 21px;
        &::first-letter {
          text-transform: capitalize;
        }
        margin-top: 14px;
      }
    }
    .mainC {
      .author {
        display: flex;
        margin: 18px 0px 0px 0px;
        align-items: center;
        &-image {
          margin-right: 18px;
          width: 60px;
          height: 60px;
          border-radius: 100%;
          overflow: hidden;
        }
        &-Dom {
          h4 {
            opacity: 0.8;
          }
          span {
            opacity: 0.7;
          }
        }
        position: relative;
        &::before {
          position: absolute;
          content: "";
          background-color: var(--lightShade);
          opacity: 0.2;
          width: 100%;
          bottom: -20%;
          height: 2px;
        }
      }
    }
  }
}

.other__blogs {
  .wrapper {
    $color_white: #fff;
    $color_prime: #5ad67d;
    $color_grey: #e2e2e2;
    $color_grey_dark: #a2a2a2;

    .blog-card {
      display: flex;
      flex-direction: column;
      margin: 1rem auto;
      box-shadow: 1px 0px 20px rgba(204, 202, 202, 0.6);
      margin-bottom: 1.6%;
      background: $color_white;
      line-height: 1.4;
      font-family: sans-serif;
      border-radius: 5px;
      overflow: hidden;
      z-index: 0;
      a {
        color: inherit;
        &:hover {
          color: $color_prime;
        }
      }
      &:hover {
        .photo {
          transform: scale(1.3) rotate(3deg);
        }
      }
      .meta {
        position: relative;
        z-index: 0;
        height: 200px;
      }
      .photo {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-size: cover;
        background-position: center;
        transition: transform 0.2s;
      }
      .details,
      .details ul {
        margin: auto;
        padding: 0;
        list-style: none;
      }

      .details {
        position: absolute;
        top: 0;
        bottom: 0;
        left: -100%;
        margin: auto;
        transition: left 0.2s;
        background: rgba(#000, 0.6);
        color: $color_white;
        padding: 10px;
        width: 100%;
        font-size: 1rem;

        ul li {
          display: inline-block;
        }
      }
      .description {
        padding: 1rem;
        background: var(--BGColor);
        position: relative;
        z-index: 1;

        h3 {
          text-transform: capitalize;
          color: $color_prime;
          margin: 0;
          font-size: 1.3rem;
        }
        h2 {
          font-size: 1rem;
          text-transform: uppercase;
          font-weight: 400;
          color: $color_grey_dark;
          margin-top: 9px;
        }
        .read-more {
          text-align: right;
          a {
            box-shadow: 1px 0px 20px rgba(204, 202, 202, 0.6);
            padding: 4px;
            border-radius: 5px;
            border: 1px solid $color_prime;
            color: $color_prime;
            display: inline-block;
            position: relative;
            transition: 0.3s all;
            &:hover {
              box-shadow: none;
            }
          }
        }
      }
      p {
        position: relative;
        color: var(--shaded);
        font-size: 19px;
        margin: 1rem 0 0;
        &:first-of-type {
          margin-top: 1.25rem;
          &:before {
            content: "";
            position: absolute;
            height: 5px;
            background: $color_prime;
            width: 35px;
            top: -0.75rem;
            border-radius: 3px;
          }
        }
      }
      &:hover {
        .details {
          left: 0%;
        }
      }

      @media (min-width: 640px) {
        flex-direction: row;
        max-width: 700px;
        .meta {
          flex-basis: 40%;
          height: auto;
        }
        .description {
          flex-basis: 60%;
          &:before {
            transform: skewX(-3deg);
            content: "";
            background: var(--BGColor);
            width: 30px;
            position: absolute;
            left: -10px;
            top: 0;
            bottom: 0;
            z-index: -1;
          }
        }
        &.alt {
          flex-direction: row-reverse;
          .description {
            &:before {
              left: inherit;
              right: -10px;
              transform: skew(3deg);
            }
          }
          .details {
            padding-left: 25px;
          }
        }
      }
    }
  }
}
