@import url("../../styles/fonts.css");
@import "../../styles/ann.scss";
@import "../../styles/loader.scss";
@import "../../styles/footer.scss";
@import "../../styles/header.scss";
@import "../../styles/pages.main.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  display: run-in;
  -webkit-tap-highlight-color: transparent;
}

// VARIABLES

:root {
  --primary_global: #f08939;
  --BGColor: #ffffff;
  --FontColor: #222831;
  --fontFam: JSan;
  --logoFontFam: Pacifico;
  --headerHeight: 4.9rem;
  --heroFZ: 3.2rem;
  --shaded: #302e2ebf;
  --defaultMargin: 50px;
  --InvertImg: initial;
  --loaderBallHeight: 45px;
  --loaderBallWidth: 45px;
  @media screen and (min-width: 703px) {
    --heroFZ: 5.3rem;
  }
  @media screen and (max-width: 703px) {
    --defaultMargin: 15px;
  }
}

.Dark_Mode {
  --InvertImg: invert(1);
  --BGColor: #222831;
  --FontColor: #ffffff;
  --shaded: #a09a9abf;
}

body {
  margin: 0 auto;
  font-family: var(--fontFam);
  color: var(--FontColor);
  background-color: var(--BGColor);
  transition: background-color 0.3s ease-in-out;
}
.invert__this {
  filter: var(--InvertImg);
}
.if__active {
  transition: 0.1111s ease-in-out;

  &:active {
    transform: scale(1.1);
  }
}

img {
  width: 100%;
}

.ctx__flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

button {
  cursor: pointer;
  outline: none;
}

::selection {
  background-color: #d6894f;
}

.section {
  margin-top: 1rem;

  .section__header h3 {
    margin-top: 3rem;
    margin-bottom: 3rem;
    font-size: 2rem;
    text-transform: capitalize;
    text-align: center;
  }
}
.whatApp__API {
  position: fixed;
  bottom: 20px;
  right: -100px;
  height: 75px;
  width: 75px;
  border-radius: 50%;
  background-color: hsl(132, 90%, 68%);
  transition: 0.3s cubic-bezier(0.39, 0.575, 0.565, 1);
  z-index: 1;
  .wrapper {
    .img {
      img {
        width: 100%;
        height: 100%;
      }
    }
  }
}
.main {
  .arrticle__top {
    .top__ctx {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(19rem, 1fr));

      .vcc {
        min-height: 240px;
      }
      .text,
      .image {
        padding: 7px;
        margin: var(--defaultMargin) 0;
      }
      .vcc.image {
        min-height: 250px;
        border-radius: 5px;
        box-shadow: 1px 0px 20px #e91e63;
        background: url(../../images/main/jbareham_160418_0931_0086_FINAL_NO_BUFFER_5MB_02.0.0.jpeg)
          center/cover no-repeat;
      }
    }
  }
  .next__top {
    .container {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
      flex-wrap: wrap;
      margin: auto;
      flex-grow: 1;
      .item {
        text-align: center;
        margin: 3px;
        width: 300px;
        border-radius: 5px;
        min-height: 150px;
        padding: 8px;
        border: 2px solid var(--primary_global);
        .header {
          h4 {
            color: var(--primary_global);
            text-transform: capitalize;
            // text-align: center;
            font-size: 24px;
          }
        }
      }
    }
  }
}
.next__top_next {
  .core {
    margin: var(--defaultMargin);
    .header {
      font-size: 2.3rem;
      text-transform: capitalize;
    }
    .main_core {
      .wrapper {
        margin-top: 24px;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));
        .ttf {
          display: flex;
          justify-content: start;
          align-items: center;
          .listStyle {
            margin-right: 8px;
            font-size: 2rem;
            background-color: var(--primary_global);
            color: white;
            box-shadow: 1px 0px 20px rgba(95, 93, 93, 0.6);
            border-radius: 50%;
            padding: 6px;
            width: 60px;
            height: 60px;
            display: grid;
            place-items: center;
            margin-bottom: 8px;
          }
          .value {
            p {
              font-size: 23px;
            }
          }
        }
      }
    }
  }
}
