@import url("../../styles/fonts.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  display: run-in;
  -webkit-tap-highlight-color: transparent;
}

// VARIABLES

:root {
  --primary_global: #f96d00;
  --BGColor: #ffffff;
  --FontColor: #222831;
  --fontFam: JSan;
  --logoFontFam: Pacifico;
  --headerHeight: 4.9rem;
  --heroFZ: 3.2rem;
  --shaded: #302e2ebf;
  --defaultMargin: 50px;
  --InvertImg: initial;
  --loaderBallHeight: 45px;
  --loaderBallWidth: 45px;
  @media screen and (min-width: 703px) {
    --heroFZ: 5.3rem;
  }
  @media screen and (max-width: 703px) {
    --defaultMargin: 15px;
  }
}

.Dark_Mode {
  --InvertImg: invert(1);
  --BGColor: #222831;
  --FontColor: #ffffff;
  --shaded: #a09a9abf;
}

body {
  margin: 0 auto;
  font-family: var(--fontFam);
  color: var(--FontColor);
  background-color: var(--BGColor);
  transition: background-color 0.3s ease-in-out;
}

.loader {
  z-index: 11;
  position: fixed;
  overflow: hidden;
  transition: 0.3s ease;
  &.loaded {
    opacity: 0;
    z-index: -1;
  }
  .container {
    width: 100vw;
    height: calc(var(--headerHeight) + 100vh);
    background-color: var(--BGColor);
    display: flex;
    justify-content: center;
    align-items: center;
    .ball {
      animation: bounce 0.9s ease infinite both;
      height: var(--loaderBallHeight);
      margin: 14px;
      width: var(--loaderBallWidth);
      background-color: var(--primary_global);
      border-radius: 50%;
    }
    .ball_1 {
      animation-delay: 0.3s;
    }
    .ball_2 {
      animation-delay: 0.6s;
    }
    .ball_3 {
      animation-delay: 0.8s;
    }
    @keyframes bounce {
      0% {
        transform: scale(0.5);
      }
      50% {
        transform: scale(1.4);
      }
      100% {
        transform: scale(0.5);
      }
    }
  }
}
.invert__this {
  filter: var(--InvertImg);
}
.if__active {
  transition: 0.1111s ease-in-out;

  &:active {
    transform: scale(1.1);
  }
}

img {
  width: 100%;
}

.ctx__flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

button {
  cursor: pointer;
  outline: none;
}

::selection {
  background-color: #d6894f;
}

.section {
  margin-top: 1rem;

  .section__header h3 {
    margin-top: 3rem;
    margin-bottom: 3rem;
    font-size: 2rem;
    text-transform: capitalize;
    text-align: center;
  }
}

.header {
  z-index: 111;

  .nav__menu {
    background-color: var(--BGColor);
    height: var(--headerHeight);
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: -3px -7px 11px 0px var(--BGColor);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ddd;
    z-index: 11;

    //Bar Control
    &-bar-control {
      display: grid;
      place-items: center;
      overflow: hidden;
      background-color: var(--primary_global);
      width: 70px;
      height: 70px;
      position: relative;
      transform: scale(0.9);
      cursor: pointer;
      border-radius: 100%;

      @media screen and (min-width: 768px) {
        display: none;
      }

      &:active {
        transform: scale(1.1);
      }

      .bar-control {
        .bar {
          width: 35px;
          height: 4px;
          background: #fff;
          margin-top: 4px;
          border-radius: 5px;
          transition: 0.1111s ease-in-out;
        }

        .bar2 {
          transform: scaleX(0.5);
        }
      }

      //when clicked to show menu
      &.clicked {
        .bar1 {
          transform: rotate(-45deg);
          width: 22px;
        }

        .bar2 {
          width: 0;
        }

        .bar3 {
          transform: rotate(52deg);
          width: 22px;
        }
      }
    }

    //Logo
    &-logo {
      a {
        user-select: none;
        $logoFZ: 2.7rem;
        font-size: $logoFZ;
        font-family: var(--logoFontFam);
        color: var(--primary_global);

        @media screen and (min-width: 768px) {
          margin-left: 20px;
        }

        img {
          width: 200px;
        }
      }
    }

    //styling menu content
    &-ul {
      width: 100%;
      position: fixed;
      right: -100%;
      z-index: 111;
      box-shadow: 5px 10px 11px orange;
      height: 100%;
      top: calc(var(--headerHeight));
      background-color: var(--BGColor);
      transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);

      &-list {
        margin-left: 2rem;
        margin-bottom: 0;
      }

      &-link {
        display: inline;
        text-transform: capitalize;
        position: relative;
        line-height: 3;
        font-size: 1.5rem;
        color: var(--FontColor);
      }

      @media screen and (min-width: 768px) {
        display: flex;
        align-items: center;
        position: static;
        box-shadow: none;
        justify-content: flex-end;
        transition: none;
        margin-right: 2em;

        &-link {
          border: 2px solid #dddd;
          padding: 0.5rem;
          border-radius: 20px;
          font-size: 1.3em;

          &.active {
            background-color: var(--primary_global);
            color: #fff;
            border: none;
          }
        }
      }
    }

    &-toggleMode {
      .btn__toggle {
        outline-color: var(--primary_global);
        background-color: transparent;
        border: none;
        padding: 0px 4px 0px 4px;
        margin-top: 5px;
        margin-right: 5px;
        width: 73px;
      }
    }
  }
}

.whatApp__API {
  position: fixed;
  bottom: 20px;
  right: -100px;
  height: 75px;
  width: 75px;
  border-radius: 50%;
  background-color: hsl(132, 90%, 68%);
  transition: 0.3s cubic-bezier(0.39, 0.575, 0.565, 1);
  z-index: 1;
  .wrapper {
    .img {
      img {
        width: 100%;
        height: 100%;
      }
    }
  }
}
.main {
  margin-top: calc(var(--headerHeight) + 4rem);
  .hero__intro-path {
    font-weight: normal;
  }
  h1 {
    font-size: 3rem;
  }
}

footer {
  .footer__wrapper {
    width: 100%;
    .container {
      .footer__content {
        background-color: #2d343e;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(19rem, 4fr));
        div {
          margin-top: 15px;
          ul {
            padding: 12px;
            margin-left: var(--defaultMargin);
            li {
              a {
                font-size: 20px;
                display: block;
                color: rgb(154, 60, 243);
                text-transform: capitalize;
              }
            }
          }
        }
      }
      .fair__well {
        background-color: #2d3f58;
        .container {
          display: flex;
          min-height: 60px;
          justify-content: center;
          align-items: center;
          flex-wrap: wrap;
          ul {
            display: flex;
            li {
              a {
                border: 2px solid #fff;
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
                padding: 12px;
                margin-left: 12px;
                margin-top: 4px;
                border-radius: 50%;
                img {
                  width: 39px;
                  height: 39px;
                }
              }
            }
          }
        }
      }
    }
  }
}
