.contact__grid .contact__grid_wrapper {
  -webkit-box-shadow: 1px 0px 20px rgba(114, 92, 92, 0.6);
          box-shadow: 1px 0px 20px rgba(114, 92, 92, 0.6);
  max-width: 56pc;
  margin: var(--defaultMargin) auto;
  position: relative;
  position: relative;
}

.contact__grid .contact__grid_wrapper .BBC {
  z-index: 1;
  background-color: var(--primary_global);
  padding: 13px;
  height: 350px;
  min-width: 292px;
  position: absolute;
  left: -64px;
  top: 100px;
  width: 27%;
  display: -ms-grid;
  display: grid;
  border-radius: 4px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact__grid .contact__grid_wrapper .BBC .contact_us .dom_ {
  margin: 24px auto;
}

.contact__grid .contact__grid_wrapper .BBC .contact_us .dom_ h4 {
  font-size: 28px;
}

.contact__grid .contact__grid_wrapper .BBC .contact_us .wrapList .item__listg .item .text p {
  line-height: 3.6;
  color: white;
}

.contact__grid .contact__grid_wrapper .Form {
  min-height: 500px;
  position: relative;
  background-color: var(--BGColor);
  padding: 14px;
}

.contact__grid .contact__grid_wrapper .Form .contact_form {
  margin-left: 19rem;
  margin-right: 5rem;
}

.contact__grid .contact__grid_wrapper .Form .contact_form .dom {
  margin: 24px auto;
}

.contact__grid .contact__grid_wrapper .Form .contact_form .dom h4 {
  font-size: 28px;
}

.contact__grid .contact__grid_wrapper .Form .contact_form .dom p {
  line-height: 3.6;
  color: var(--shaded);
}

.contact__grid .contact__grid_wrapper .Form .contact_form .input label {
  font-size: 17px;
  color: var(--shaded);
}

.contact__grid .contact__grid_wrapper .Form .contact_form .input input,
.contact__grid .contact__grid_wrapper .Form .contact_form .input textarea {
  width: 100%;
  font-size: 19px;
  padding: 8px;
  background-color: var(--inputColor);
  font-family: JSan;
  border: none;
  color: var(--shaded);
  outline: none;
  border-radius: 5px;
  resize: none;
  margin: 15px auto;
}

.contact__grid .contact__grid_wrapper .Form .contact_form .input button {
  padding: 12px;
  font-size: 21px;
  text-transform: capitalize;
  text-align: center;
  width: 33%;
  background-color: var(--primary_global);
  color: white;
  border-radius: 14px;
  border: none;
  -webkit-box-shadow: 1px 0px 20px rgba(114, 92, 92, 0.6);
          box-shadow: 1px 0px 20px rgba(114, 92, 92, 0.6);
}

@media screen and (max-width: 1035px) {
  .contact__grid .contact__grid_wrapper {
    margin: var(--defaultMargin);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .contact__grid .contact__grid_wrapper .BBC {
    position: static;
    height: initial;
    -webkit-box-align: unset;
        -ms-flex-align: unset;
            align-items: unset;
    -webkit-box-pack: initial;
        -ms-flex-pack: initial;
            justify-content: initial;
  }
  .contact__grid .contact__grid_wrapper .Form {
    width: 100%;
  }
  .contact__grid .contact__grid_wrapper .Form .contact_form {
    margin: initial;
  }
}

@media screen and (max-width: 643px) {
  .contact__grid .contact__grid_wrapper {
    display: block;
  }
  .contact__grid .contact__grid_wrapper .BBC {
    width: 100%;
    min-width: 100%;
  }
}
/*# sourceMappingURL=contact.css.map */