footer {
  .footer__wrapper {
    width: 100%;
    .container {
      .footer__content {
        background-color: #1b1b1c;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(19rem, 4fr));
        div {
          margin-top: 15px;
          ul {
            padding: 12px;
            margin-left: var(--defaultMargin);
            li {
              a {
                font-size: 20px;
                display: block;
                text-decoration: underline;
                color: rgb(105, 104, 105);
                text-transform: capitalize;
              }
            }
          }
        }
      }
      .fair__well {
        background-color: #303030;
        .container {
          display: flex;
          min-height: 60px;
          justify-content: center;
          align-items: center;
          flex-wrap: wrap;
          ul {
            display: flex;
            li {
              a {
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
                padding: 12px;
                margin-left: 12px;
                margin-top: 4px;
                border-radius: 50%;
                img {
                  width: 39px;
                  height: 39px;
                  opacity: 0.6;
                  &:hover {
                    opacity: 1;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

.whatApp__API {
  position: fixed;
  bottom: 20px;
  box-shadow: 0px 0px 8px 0px #413434bf;
  height: 55px;
  width: 55px;
  border-radius: 50%;
  // background-color: hsl(132, 90%, 68%);
  transition: 0.3s cubic-bezier(0.39, 0.575, 0.565, 1);
  z-index: 1;
  &.msg {
    left: -100px;
    &.slided {
      left: 15px;
    }
  }
  &.wap {
    right: -100px;
    &.slided {
      right: 15px;
    }
  }
  .wrapper {
    .img {
      img {
        width: 100%;
        height: 100%;
      }
    }
  }
}
