.main {
  .hero__intro-path {
    font-weight: normal;
  }
  .dom__container {
    margin: var(--defaultMargin);
    line-height: 98px;
    h1 {
      font-size: 3rem;
    }
  }
  article {
    color: var(--shaded);
    margin: var(--defaultMargin);
    $tfz: 20px;
    font-size: $tfz;
    line-height: 1.6;
  }
}
