@import "./variables.scss";
@import url("./fonts.css");
@import "./ann.scss";
@import "./header.scss";
@import "./footer.scss";
@import "./loader.scss";
@import "./contact.scss";

body {
  margin: 0 auto;
  font-family: var(--fontFam);
  color: var(--FontColor);
  background-color: var(--BGColor);
  transition: background-color 0.3s ease-in-out;
}

.invert__this {
  filter: var(--InvertImg);
}
.if__active {
  transition: 0.1111s ease-in-out;

  &:active {
    transform: scale(1.1);
  }
}

img {
  width: 100%;
}

.ctx__flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

button {
  cursor: pointer;
  outline: none;
}

::selection {
  background-color: var(--selection);
}

.section {
  margin-top: 1rem;

  .section__header h3 {
    margin-top: 3rem;
    margin-bottom: 3rem;
    font-size: 2rem;
    text-transform: capitalize;
    text-align: center;
  }
}

//MAIN

#home {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  position: relative;
  & > .Slide_C {
    position: relative;
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
    transform-style: preserve-3d;
    perspective: 10px;

    & .brief {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transition: all 0.3s ease-in-out;
      opacity: 0;
      &.active {
        opacity: 1;
        transform: translateX(0);
      }
      &.next {
        transform: translateX(100px);
      }
      &.last {
        transform: translateX(-100px);
      }
      & > .bg_C {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;

        &::before {
          content: "";
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0%;
          left: 0%;
          right: 0%;
          background-color: rgba(0, 0, 0, 0.26);
        }
        img {
          height: 100%;
          object-fit: cover;
          object-position: center;
        }
      }
      .Dom_C {
        position: absolute;
        top: 35%;
        left: 0%;
        right: 0%;
        h1 {
          text-transform: capitalize;
          font-size: var(--heroFZ);
        }
        h4 {
          color: greenyellow;
        }
        .go_Btn {
          margin-top: 1.7rem;
          a {
            text-transform: capitalize;
            color: white;
            // display: block;
            padding: 0.45rem 0.55rem;
            border: 2px solid greenyellow;
            border-radius: 6px;
            font-size: 21px;
          }
        }
      }
    }
  }
  .btn_C {
    .btn {
      position: absolute;
      top: 70%;
      padding: 0.55rem 0.65rem;
      font-size: 24px;
      border-radius: 100px;
      border: 2px solid greenyellow;
      background-color: transparent;
      color: white;
      overflow: hidden;
      span {
        z-index: 1;
        position: relative;
      }
      &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
        background-color: var(--demo_green);
        transition: transform 0.3s ease-in-out;
        transform: scale(0);
        border-radius: 100px;
      }
      &:hover::before {
        transform: scale(1.1);
      }
      &.prev_btn {
        left: 0.5rem;
      }
      &.next_btn {
        right: 0.5rem;
      }
      @media screen and (min-width: 450px) {
        &.prev_btn {
          left: 5rem;
        }
        &.next_btn {
          right: 5rem;
        }
      }
      @media screen and (min-width: 701px) {
        &.prev_btn {
          left: 8rem;
        }
        &.next_btn {
          right: 8rem;
        }
      }
      @media screen and (min-width: 800px) {
        &.prev_btn {
          left: 21rem;
        }
        &.next_btn {
          right: 21rem;
        }
      }
    }
  }
}

.services {
  &__cards-container {
    margin: 0px var(--defaultMargin);

    .cards {
      margin-top: 40px;
      display: grid;
      gap: 20px;
      grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));

      .card {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: row;
        min-height: 182px;
        overflow: hidden;
        position: relative;
        box-shadow: -1px -1px 10px #4caf50;
        border-radius: 8px;
        padding: 10px;

        &_image {
          min-width: 100px;

          img {
            width: initial;
            height: 100px;
            opacity: 0.7;
          }
        }

        &_content {
          h4 {
            text-transform: capitalize;
            font-size: 1.9rem;
            justify-self: center;
            margin-left: 15px;
            margin-right: 15px;
          }

          a {
            width: 45px;
            height: 40px;
            background-color: var(--primary_global);
            color: #ffffff;
            font-size: 2rem;
            font-weight: bolder;
            position: absolute;
            right: 0;
            bottom: 0;
            display: grid;
            place-items: center;
          }
        }
      }
    }
  }
}
section.sect-onMore {
  margin-top: 3rem;
  .wrapper {
    margin: 0px var(--defaultMargin);
    .container {
      border: 2px solid seagreen;
      border-radius: 8px;
      overflow: hidden;
      margin: 1rem auto;
      @media screen and (min-width: 768px) {
        display: grid;
        gap: 20px;
        grid-template-columns: repeat(auto-fit, minmax(10px, 1fr));
      }
      display: flex;
      flex-direction: column;
      &:nth-child(2) {
        flex-direction: column-reverse;
      }
      // &nth:nth-child(3){}
      &:nth-child(4) {
        flex-direction: column-reverse;
      }
    }
    .bbc {
      margin-top: 20px;
      margin-bottom: 20px;
      display: flex;
      justify-content: center;
      align-items: self-end;
      flex-direction: column;
      flex-wrap: wrap;
      padding: 20px;
      h3 {
        font-size: 3rem;
        width: 236px;
        text-align: left;
        text-transform: capitalize;
      }
      &-btn {
        text-transform: capitalize;
        border: 3px solid var(--primary_global);

        border-radius: 5px;
        outline: none;
        padding: 13px;

        margin-top: 20px;
        background-color: #f5f3f3;
        font-size: 1.3rem;
        color: var(--primary_global);
        font-weight: bolder;
      }
    }
    .etc {
      .img {
        img {
          object-fit: cover;
          object-position: center;
          height: 100%;
        }
        height: 300px;
        border-radius: 5px;
        overflow: hidden;
      }
    }
  }
}

.about {
  &__cta-bt-container {
    margin: 0px var(--defaultMargin);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));

    .addBxs {
      padding: 10px;
      min-height: 405px;
      position: relative;
    }
    .gallery-container {
      display: grid;
      grid-template-areas:
        "img1  img4 img4"
        "img1 img2 img3"
        "img0  img0 img3";
      grid-template-columns: 1fr 1fr 1fr;
      // grid-gap: 10px;
      gap: 10px;
    }

    .image {
      overflow: hidden;
      img {
        height: 100%;
        object-fit: cover;
      }
      border-radius: 8px;
    }
    .img-0 {
      grid-area: img0;
      background-image: url(../images/main/estate.jpg);
    }
    .img-1 {
      grid-area: img1;
      background-image: url(../images/main/fixes.jpeg);
    }
    .img-2 {
      grid-area: img2;
      background-image: url(../images/main/gadgets.jpg);
    }
    .img-3 {
      grid-area: img3;
      background-image: url(../images/main/jobs.jpg);
    }
    .img-4 {
      grid-area: img4;
      background-image: url(../images/main/estate.jpg);
    }

    .txt-container {
      .text {
        p.abt-text {
          font-size: 23px;
          color: var(--shaded);
          line-height: 1.3;
        }
      }
      .btn__to-conatainer {
        position: relative;
        bottom: 10px;
        .btn__to {
          text-transform: capitalize;
          border: 3px solid var(--primary_global);

          border-radius: 5px;
          outline: none;
          padding: 13px;

          margin-top: 20px;
          background-color: #f5f3f3;

          span {
            z-index: 11;
            background-color: #f5f3f3;
            font-size: 19px;
            color: var(--primary_global);
            font-weight: bolder;
            overflow: hidden;
          }

          position: relative;
          &::before {
            content: "";
            pointer-events: none;
            position: absolute;
            width: 110%;
            height: 2px;
            top: 50%;
            left: 50%;
            z-index: -1;
            transform: translate(-50%, -50%);
            background-color: var(--primary_global);
          }
        }
      }
    }
  }
}

.blogs {
  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .wrapper {
      margin: 0px var(--defaultMargin);
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(21rem, 1fr));
      .blog {
        border-radius: 8px;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));
        padding: 14px;
        box-shadow: 1px 1px 20px 0px #8685c46c;
        margin: 4px;
        position: relative;

        .img {
          height: 14rem;
          img {
            height: 100%;
            object-fit: cover;
          }
        }
        .content {
          position: relative;
          padding: 12px;
          h3 {
            text-transform: capitalize;
            font-size: 26px;
            color: #4caf50;
          }
          p {
            margin-top: 8px;
            font-size: 21px;
            color: var(--shaded);
          }
          button {
            border: none;
            outline: none;
            text-transform: capitalize;
            padding: 9px 23px;
            //  position: absolute;
            //  bottom: 0%;
            background-color: #4caf50;
            border-radius: 8px;
            margin-top: 16px;
            font-size: 20px;
            color: #f5f3f3;
          }
        }
      }
    }
    .btn__All {
      .btn__ {
        padding: 14px;
        font-size: 22px;
        text-transform: capitalize;
        background-color: #4caf50;
        border: 3px solid #ece6e6;
        border-radius: 5px;
        margin-top: 24px;
        color: #f5ebe8;
        box-shadow: -1px 1px 7px 3px #2d3f583d;
      }
    }
  }
}
