@import url("../../styles/fonts.css");
@import "../../styles/ann.scss";
@import "../../styles/loader.scss";
@import "../../styles/footer.scss";
@import "../../styles/header.scss";
@import "../../styles/pages.main.scss";
@import "../../styles/variables.scss";

body {
  margin: 0 auto;
  font-family: var(--fontFam);
  color: var(--FontColor);
  background-color: var(--BGColor);
  transition: background-color 0.3s ease-in-out;
}
.invert__this {
  filter: var(--InvertImg);
}
.if__active {
  transition: 0.1111s ease-in-out;

  &:active {
    transform: scale(1.1);
  }
}

img {
  width: 100%;
}

.ctx__flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

button {
  cursor: pointer;
  outline: none;
}

::selection {
  background-color: #d6894f;
}

.section {
  margin-top: 1rem;

  .section__header h3 {
    margin-top: 3rem;
    margin-bottom: 3rem;
    font-size: 2rem;
    text-transform: capitalize;
    text-align: center;
  }
}
.wrapper {
  .services {
    .cards {
      &::after {
        content: "";

        display: table;
        clear: both;
      }
      margin: var(--defaultMargin);
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      .card {
        border: 2px solid var(--primary_global);
        border-radius: 11px;
        text-align: center;
        margin: 10px 8px;
        flex-grow: 1;
        width: 180px;
        float: left;
        .img {
          height: 175px;
          overflow: hidden;
          img {
            height: 100%;
            object-fit: cover;
            border-radius: 11px;
          }
        }
        ._header {
          text-transform: capitalize;
          margin-top: 29px;
          font-size: 24px;
        }
        .text {
          padding: 23px;
          p {
            color: var(--shaded);
          }
        }
        .linkTo {
          margin: 12px;
          a {
            color: var(--primary_global);
            text-transform: capitalize;
            font-size: 19px;
            display: block;
          }
          padding: 12px;
          border-radius: 11px;
          border: 2px solid var(--primary_global);
        }
      }
    }
  }
}
